
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color:orange;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
header nav{

    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header nav .logo{
    width: 150px;
}
header nav .menu{
    display: flex;
    align-items: center;
}
nav .menu a{
    color: black;
    margin-left: 30px;
    size: 20px;
    position: relative;
}
nav .menu a::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color:black;;
    transition: 0.4s;
}
nav .menu a:hover::after{
    width: 100%;
}
nav .social a i{
    color: #fff;
    font-size: 22px;
    margin-left: 10px;
    transition: 0.3s;
}
nav .social a i:hover{
    transform: scale(1.3);
    color: yellow;
}



.containerpart{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.box{
    flex: 1 1 17rem;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 0.5rem;

}

.box img{
    width: 100%;
    height: 150px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 1rem;
        
}

.box img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.box h3{
    font-size: 1.1rem;
    font-weight: 600px;

}

.box span{
    font-size: 1.1rem;
    font-weight: 600;
    background-color: orange;
    width: 75px;
}

.box .button{
    max-width: 120px;
    background-color:rgba(255, 166, 0, 0.985);
}

.box .details{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.8rem;
    right: 1rem;
    font-size: 1rem;
    color: orange;
}

.box .details:hover{
    color:orange;
    text-decoration: underline;
}


.container{
    height: 400px;
}
.footer{
    background: #020102;
    color:  white;
    border-top: 2px solid orange;
    margin-bottom: 10px;
    text-decoration: none;
    margin-top: 1px;
}

.ftcontainer{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.ftcontainer .ftbox{
    display: flex;
    flex-direction: column;
}

.social{
    display: flex;
    align-items: center;
}
.social img{
    margin-right: 10px;
    width: 50px;
}

.ftbox a{
    color:orange;
    margin-bottom: 10px;
}

#car4men{
    text-align: center;
    /* width: 40px; */
    color: white;
}
#car4men span{
    color: orange;
}

.ftbox h3{
    margin-bottom: 20px;
}

.ftbox p{
    color: whitesmoke;
    margin-bottom: 10px;
}


.content{
    margin-top: 100px;
}

.heading{
    margin: 15px;
    margin-top: 80px;
    text-align: center;
    
    
}
.heading h2{
    margin-top: 40px;
    margin-bottom: 40px;
}
.heading span{
    margin: 5px;
    color: orange;
}